.nologout{
  padding: 230px 0px 230px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nologin{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yeslogout{
  padding: 230px 0px 230px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yeslogin{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alldiv{
  display: flex;
  justify-content: space-around;
  border: 5px solid black;
}
.div1{
  padding: 5px;
}
.div2{
  padding: 5px;

}
.div3{
  text-align: center;
  padding: 15px;
  border: 5px inset black;


}
.reqbub{
  text-align: left;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}
