.nologout{
  padding: 230px 0px 230px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nologin{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yeslogout{
  padding: 230px 0px 230px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yeslogin{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
