body{
  margin: 0px;
  background-color: #0f1622;
}
.nologout{
  padding: 230px 0px 230px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nologin{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
/*catalogue*/
.catouterdiv{
  padding: 5px;
  box-sizing: border-box;
  background-color: #0f1622;
  margin: 0px;
}
/* Search bar*/
.search-bar {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
    padding: 5px
}
.search-bar input {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 5px;
}
.search-bar button {
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
}
/*Filter Box*/
.catselect{
  box-sizing: border-box;
  border: 5px solid black;
  border-width: 5px 5px 5px 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
}
form{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  height: auto;
}

form .opt{
  display: flex;
  flex: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
}

.filter{
  box-sizing: border-box;
  border: 5px solid black;
  border-style: outset;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0,200,90,1);
}
.filter:hover{
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(0,200,90,0.7);
}
.custom{
  box-sizing: border-box;

}
.custom input {
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom input:checked ~ .filter {
  box-sizing: border-box;
  background-color: #2196F3;
  border-style: inset;
}
/**/
.opt{
  background-color: ;
  padding: 5px;
}
.custom-toggle{
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 5px solid black;
  border-style: outset;
  background-color: green;
  padding: 2.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.toggle-lable{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5px;
}
.slider{
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  background-color: #ccc;
  padding: 2.5px;
  width: 30px;
  transition: .5s;

}
.slider-inner{
  box-sizing: border-box;
  background-color: white;
  padding: 5px;
  margin: 0px;
  transition: .5s;

}
input:checked ~ .slider {
  background-color: #2196F3;
  padding: 2.5px;

}
input:checked ~ .slider > .slider-inner {
  transform: translateX(20px);
}

.custom-toggle input {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

/* the item cards */
.results{

}
.num{
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
.catmovies{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  xbackground-color: #0f1622;
  padding: 10px 10% 10px 10%;
  flex-wrap: wrap;
}
.catmovie{
  margin: 10px;
  box-sizing: border-box;
  padding: 5px;
  height: ;
  width: 25%;
  max-width: 200px;
  min-width: 150px;
  border: 5px solid black;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
.catposter{
  box-sizing: border-box;
  xborder: 5px solid black;
  width: ;
  height: ;
}
.catposter > img {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,.5);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.catdeat{
  box-sizing: border-box;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px
}
.catname{
  box-sizing: border-box;
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.catyear{
  box-sizing: border-box;
}
.catlength{
  box-sizing: border-box;
}
.cattype{
  box-sizing: border-box;
}
.catavailable{
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 5px solid darkgreen;
  border-style: ridge;
}
