html{
  xbackground-color: rgb(0,0,30);
  xbackground-color: #0f1622;
  xbackground-color: #141e2d;
  xbackground: #0c121b;
  background-color: #020916;
}
hr{
  border: 1px solid rgba(100,100,100,0.2);
  border-radius: 50px;
}
video {width:100%; height: 570px; margin:0 auto; background-color: rgb(60,60,60); overflow: hidden;}
.video-controls {
    display: none;
}
video:hover .video-controls {
    display: block;
}
video:fullscreen{
  background-color: black
}
.outerdiv{
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}
.middiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middiv > hr {
  width: 94%;
}
.innerdiv{
  padding: 5px;
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.leftdiv{
  height: 350px;
}
.leftdiv > img{
  border: 3px solid rgba(255,255,255,.2);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.rightdiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.titlediv{
  color: #8e95a5;
  padding: 0px 0px 0px 25px;
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  font-size: 1.8em;
}
.triplediv{
  height: 30px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}
.hd, .rating, .time{
  padding: 0px 0px 0px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  }
.descriptiondiv{
  padding: 0px 0px 0px 25px;
  height: 100%;
  max-width: 725px;
}

.footer{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
}
.linktb{
  xborder: 5px solid black;
  height: auto;
  width: 500px;
}
.linklisttitle{
  xborder: 5px solid green;
  padding-left: 65px;
}
.linklists{
  xborder: 5px solid green;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linklist{
  xborder: 5px solid magenta;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}
ul{
  xborder: 5px solid blue;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}
li{
  text-align: center;
  margin: 5px;
  xborder: 2px solid lime;
}

.aboutsec{
  height: auto;
  width: 500px;
  padding: 0px 0px 10px 0px
}
