.moviepage{
  xbackground-color: rgb(0,0,30);
  xbackground-color: #0f1622;
  xbackground-color: #141e2d;
  xbackground: #0c121b;
  background-color: #020916;
}
hr{
  border: 1px solid rgba(100,100,100,0.2);
  border-radius: 50px;
}
video {width:100%; height: 570px; margin:0 auto; background-color: rgb(60,60,60); overflow: hidden;}
.video-controls {
    display: none;
}
video:hover .video-controls {
    display: block;
}
video:fullscreen{
  background-color: black
}
.outerdiv{
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}
.middiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middiv > hr {
  width: 94%;
}
.innerdiv{
  padding: 5px;
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.leftdiv{
  height: 350px;
}
.leftdiv > img{
  border: 3px solid rgba(255,255,255,.2);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.rightdiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.titlediv{
  color: #8e95a5;
  padding: 0px 0px 0px 25px;
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  font-size: 1.8em;
}
.triplediv{
  height: 30px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}
.hd, .rating, .time{
  padding: 0px 0px 0px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  }
.descriptiondiv{
  padding: 0px 0px 0px 25px;
  height: 100%;
  max-width: 725px;
}
.footer{
  flex-shrink: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
  margin-top: auto;
}
.linktb{
  xborder: 5px solid black;
  height: auto;
  width: 500px;
}
.linklisttitle{
  xborder: 5px solid green;
  padding-left: 65px;
}
.linklists{
  xborder: 5px solid green;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linklist{
  xborder: 5px solid magenta;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}
ul{
  xborder: 5px solid blue;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}
li{
  text-align: center;
  margin: 5px;
  xborder: 2px solid lime;
}

.aboutsec{
  height: auto;
  width: 610px;
  padding: 0px 0px 0px 0px
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  flex-shrink: 0;
}
main {
  flex: 1 0 auto;
}

/*account page stylesheet*/
.acountcb{
  background-color: grey;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.acountcreate{
  background-color: white;
  height: 100%;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.acountctitle{
  xborder: 5px solid black;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  font-family: arial;
  padding: 10px;
}
.acountcemail{
  xborder: 5px solid black;
  font-family: arial;
  padding: 10px;
}
.acountcemail > input{
  border: 1px solid grey;
  border-radius: 5px;
  width: 98%;
}
.acountcusername{
  xborder: 5px solid black;
  font-family: arial;
  padding: 10px;
}
.acountcusername > input{
  border: 1px solid grey;
  border-radius: 5px;
  width: 98%;
}
.acountcpassword{
  xborder: 5px solid black;
  font-family: arial;
  padding: 10px;
}
.acountcpassword > input{
  border: 1px solid grey;
  border-radius: 5px;
  width: 98%;
}
.acountcconfim{
  xborder: 5px solid black;
  font-family: arial;
  padding: 10px;
}
.acountcconfim > input{
  border: 1px solid grey;
  border-radius: 5px;
  width: 98%;
}
.acountcsubscribe{
  xborder: 5px solid black;
  font-family: arial;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.acountcsubscribe > input{
}
.acountcsubmit{
  xborder: 5px solid black;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.acountcsubmit > input{
  border: none;
  border-radius: 5px;
  background-color: #04AA6D; /* Green */
  color: white;
  padding: 15px 100px;
  width: 98%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.acountctext{
  xborder: 5px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acountctext > hr{
  border: 1px solid grey;
  border-radius: 50px;
  width: 99%;
}
