@import "header.css";

@keyframes change-color1 {
  from {background-color: salmon;}
  to {background-color: lightblue;}
}

@keyframes change-color {
  0% {background-color: red;}
  15% {background-color: orange; top:10px;}
  30% {background-color: yellow; top:20px;}
  45% {background-color: green; top:30px;}
  70% {background-color: blue; top:40px;}
  100% {background-color: purple; top:50px;}
}


.box-animation:hover{
  position:relative;
  animation-name: change-color;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 3;  
}
